.finish-title{
  margin: 120px auto 140px auto;
}
.bx-page{
  background-color: white;
}
.finish-title-words{
  font-size: 36px;
  color: #000000;
}
.finish-scan{
  text-align: center;
}

.finish-scan-image{
  width: 330px;
  height: 330px;
}

.finish-tips{
  margin: 28px auto 0 auto;
  .finish-tips-words{
    color: #888888;
    font-size: 24px;
  }
}

.report-block{
  margin-top: 200px;
}