.article-banner-image{
  width: 100%;
  margin-top: 20px;
  display: block;
}

.article-content{
  background-color: white;
  padding: 60px 30px;
}

.article-info-title{
  color: #000000;
  font-size: 48px;
}
.article-other-info{
  font-size: 30px;
  color: #888888;
}

.content-nodes{
  margin-top: 63px;
}