.article-list-section{
  background-color: white;
  margin-top: 20px;
}

.article-list-row{
  padding: 30px;
  display: flex;
  position: relative;
}

.article-image{
  width: 145px;
  height: 145px;
  flex-shrink: 0;
  margin-right: 20px;
}
.article-title{
  font-size: 34px;
  color: #222222;
  font-weight: 400;
}
.article-time{
  font-size: 26px;
  color: #999999;
}
.article-desc{
  margin-top: 7px;
  font-size: 26px;
  color: #999999;
  width: 500px;
  word-wrap:break-word;
}
.current-red{
  position: absolute;
  font-size: 26px;
  color: #999999;
  right: 30px;
  top: 30px;
}

.list-line{
  width: 95%;
  background-color: #E5E5E5;
  height: 2px;
  margin: 0 auto;
}
